#component_15_footer{
    
    display: 'flex';
    padding: 9px;
}
#text_style{
    text-align: center;
    font-weight: 350;
    color: rgb(130, 133, 133);
    text-decoration: none;
}
#text_style a:hover{
    color: rgb(0, 0, 0);
}
#bottom_bar{
    color: black;
    text-align: center;
    padding: 10px;
}