#component_1_sales{
    padding-bottom: 4px;
    box-shadow: 1px 1px 20px 1px rgb(209, 209, 209);
    display: 'flex';
    margin-top: 20px;
}
#sm-auto{
    color:rgb(45, 160, 35);
    background-color:rgb(168, 247, 207);
    border-radius:15px;
    border:none;
    padding:3px;
    text-decoration:none;
    font-size:11px;
    font-weight:800;
    margin-left: 66px;
}